body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}

.page {
  width: 1020px;
  height: 100%;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 95px;
}
.header__main {
  padding: 0 40px;
  background: #2d303a;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.header__singolo {
  margin: auto 0;
}
.header__singolo h1 {
  font-size: 24.3px;
  color: #ffffff;
  font-family: "Lato";
  font-weight: 700;
  text-align: left;
  cursor: default;
}
.header__navigation {
  float: right;
  margin: auto 0;
}
.header__navigation ul {
  display: flex;
  list-style: none;
  margin-bottom: 6.5px;
}
.header__navigation ul a {
  text-decoration: unset;
  font-size: 11.69px;
  line-height: 6px;
  color: #fff;
  font-family: "Lato";
  font-weight: 700;
  text-align: left;
}
.header__navigation ul a:hover {
  color: pink;
}
.header__navigation ul li {
  position: relative;
}
.header__navigation ul li:after {
  content: "";
  width: 2px;
  height: 2px;
  background: #494e62;
  position: absolute;
  right: -1px;
  top: 45%;
  border-radius: 50%;
}
.header__navigation ul li:nth-child(n) {
  padding: 0px 15px;
  font-size: 12px;
  line-height: 6px;
}
.header__navigation ul li:last-child {
  padding-right: 0;
}
.header__navigation ul li:last-child:after {
  display: none;
}
.header__navigation ul li:first-child span:hover {
  color: red;
}
.header span {
  color: #f06c64;
}
.header__bottom {
  width: 100%;
  background: #323746;
  height: 6px;
}

.slider {
  display: grid;
  grid-template-columns: 16px auto 16px;
  grid-template-rows: auto 6px;
  background: #f06c64;
  width: 100%;
  height: 600px;
}
.slider__leftArr {
  position: relative;
  top: 46.8%;
  left: 42.1px;
  width: 16px;
  height: 27px;
}
.slider__rightArr {
  position: relative;
  bottom: 48.7%;
  right: 40px;
  width: 16px;
  height: 27px;
  align-self: end;
}
.slider__content {
  display: flex;
  flex-flow: row nowrap;
}
.slider__phoneV {
  margin: 50px 0 0 94px;
}
.slider__phoneH {
  margin: 169px 0 0 66px;
}
.slider__bottom {
  background: #ea676b;
  height: 6px;
  grid-column: 1/4;
}

.services {
  width: auto;
  height: 500px;
  padding: 40px;
  padding-right: 10px;
  background-color: #f2f2f2;
}
.services__bottom {
  background: #fff;
  height: 6px;
  width: 100%;
}
.services__content h1 {
  font-size: 29.8px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
  margin-top: 29px;
  word-spacing: -0.7px;
}
.services__content p {
  font-size: 18.37px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 300;
  text-align: left;
  margin: 25.5px 0 0 0;
  letter-spacing: 0px;
}
.services__box {
  display: grid;
  grid-template-columns: auto auto;
  margin: -18px 0px 30px 0px;
}
.services__list {
  margin: 64px 0 0 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 320px);
  padding-left: 0;
}
.services__picture {
  width: 55px;
  height: 55px;
  margin-right: 10px;
  border: solid 2px #666d89;
  border-radius: 50%;
}
.services__picture :first-child {
  position: relative;
  top: 11.5px;
  left: 12px;
}
.services__text {
  padding-left: 10px;
  width: 88%;
  justify-content: start;
}
.services__text h1 {
  margin: -2px 0 9px 0;
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
}
.services__text p {
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
  word-break: break-all;
  margin: 10px 0 20px 0;
}

.hoverScl:hover {
  transform: scale(1.05);
}

.hoverBigScl:hover {
  transform: scale(1.2);
}

.a {
  transition: 0.2s ease-out all;
}