body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}

.page {
  width: 1020px;
  height: 100%;
  margin: 0px auto;
}

.portfolio {
  height: 795px;
  background: #2d303a;
  margin: 0;
  padding: 69px 0 0 0;
}
.portfolio__head {
  margin: 0 0 10px 40px;
}
.portfolio__head h1 {
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
  margin: 0 0 27px 0;
  letter-spacing: -0.2px;
}
.portfolio__head p {
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 300;
  text-align: left;
  margin: 0 0 11px 0;
}
.portfolio__categories {
  margin: 0 0 0px 40px;
}
.portfolio__categories button {
  outline: 0 !important;
  height: 22px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #666d89;
  margin: 0 5px 0 1px;
}
.portfolio__categories button:active {
  border: 1px solid #c5c5c5;
}
.portfolio__categories button:active p {
  color: #c5c5c5;
}
.portfolio__categories button p {
  margin: 0;
  font-size: 12px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
}
.portfolio__grid {
  overflow: hidden;
  max-height: 77%;
  margin: 19px 0 10px 40px;
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  grid-template-rows: 187px 187px 187px;
  grid-gap: 20px;
}
.portfolio__cell {
  overflow: hidden;
}
.portfolio__cell img {
  position: relative;
}
.portfolio__cell:hover {
  transform: scale(1.05);
}
.portfolio__bottom {
  width: 100%;
  height: 6px;
  background: #323746;
}

.about {
  background: #f2f2f2;
  display: grid;
  grid-template-rows: auto 6px;
  height: 734px;
}
.about__content {
  margin: 0 40px;
}
.about__head h1 {
  margin: 70px 0 26px 0;
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
}
.about__head p {
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 300;
  text-align: left;
}
.about__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  margin: 45px 0 0 0;
  padding: 0;
}
.about__list li {
  width: 300px;
  overflow: hidden;
}
.about__list li img {
  height: 300px;
}
.about__list li h1 {
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
  margin: 13px 0 0px 0;
  letter-spacing: -0.3px;
  white-space: nowrap;
}
.about__list li p {
  letter-spacing: 0px;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
  margin: 9px 0 0px 0;
}
.about__list :nth-child(1) p {
  letter-spacing: -0.06px;
}
.about__list :nth-child(2) {
  justify-self: center;
}
.about__list :nth-child(3) {
  justify-self: end;
}
.about__links {
  list-style: none;
  display: flex;
  padding: 0;
}
.about__links :nth-child(1) {
  background: url(assets/facebook.png) 11px 8px/27% no-repeat;
}
.about__links :nth-child(1):hover {
  transform: translateX(3px) translateY(-5px) scale(1.2);
}
.about__links :nth-child(2) {
  background: url(assets/google+.png) 8px 8px/46.5% no-repeat;
}
.about__links :nth-child(3) {
  background: url(assets/twitter.png) 8px 9px/46.5% no-repeat;
}
.about__links :nth-child(4) {
  background: url(assets/linkedin.png) 8px 8px/46.5% no-repeat;
}
.about__links li {
  width: 30px;
  height: 30px;
  border: solid #717791 1px;
  border-radius: 50%;
  margin: 23px 7px 0 1px;
}
.about__links li:hover {
  transform: translateY(-5px) scale(1.2);
  cursor: pointer;
}
.about__bottom {
  width: 100%;
  height: 6px;
  background: #ffffff;
}

.a * {
  transition: 0.2s ease-out all;
}